.featured__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  max-width: 400px;
}
button {
  background-color: #32429a;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 10px;

}
.featured__figure {
margin-bottom: 20px;
overflow: hidden;
}
.featured--wrapper{
  width: calc(100% / 3);
}
