/* 

Footer Styles

*/
main{
  margin-bottom: 96px;
}
footer {
  padding: 66px 32px;
  background-color: rgb(188, 201, 221);
  margin-top: 32px;
  position: relative;
  overflow: hidden;
  box-shadow: #242424 0px -2px 20px 0px;
}
.footer__columns {
  margin-top: -48px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer__column {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}
.footer__column--title {
  color: #f7fafc;
  font-weight: 700;
  line-height: 1.5;
}
.footer__column--link {
  color: #f7fafc;
  font-size: 14px;
  margin-top: 12px;
  line-height: 1.5;
  font-weight: 500;
  position: relative;
}
.footer__column--link:nth-child(2) {
  margin-top: 24px;
}
.divider{
   width: 100%;
  height: 2px;
  margin: 44px 0;
}
.footer__divider {
  background: #32429A;
}
.footer__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo{
  display: flex;
  align-items: center;
}
.footer__logo--img{
  height: 80px;
  width: 120px;
}
/* .footer__logo--text{
  font-size: 20px;
  color: #f7fafc;
  font-weight: 900;
  margin-left: 8px;
  letter-spacing: 0.05em;
} */
.footer__copyright{
  color: #cbd5e0;
  font-weight: 500;
}
.footer__socials{
  display: flex;
  align-items: center;
  margin-left: -16px;
}
.footer__social--link{
  margin-left: 16px;
  padding: 8px;
  background: #f7fafc;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  z-index: 2;
transition: all 300ms ease;
color: #32429A;
}
.footer__column--link:after{
  content: "";
  position:absolute;
  left:0;
  bottom: -6px;;
  background: #fff;
  height: 2px;
  width: 100%;
  transition: all 300ms ease;
  opacity: 0;
}
.footer__column--link:hover::after{
  opacity: 1;
}
.footer__social--link:hover{
background-color: rgba(203, 213, 224);
}
