
/* 
NAV STYLES
*/
nav{
  width: 100%;
  padding: 12px 28px;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  z-index: 100;
  animation: all 0.5s ease forwards;
  
}
.nav__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.nav__left {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav__logo{
    /* width: 400px;
    height: 120px; */
    margin-left: 8px;
}
.nav__links {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.nav__link {

  color: #32429A;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: all 300ms ease;
  text-decoration: none;
}
.nav__link:hover {
  text-decoration: underline;
  /* transform: translateX(10px);  */
}
.primary-boop{
    font-family: "Limelight", sans-serif;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 20px;
}
.dropdown__menu{
    position: absolute;
    top: 40px;
    left: 0;
    background: #f7fafc;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    visibility: hidden;
    flex-direction: column;
    z-index: 10;
    transition: all 300ms ease;
}
.nav__link:hover .dropdown__menu,
.dropdown__menu:hover,
.dropdown__link:hover{
    visibility: visible;
}
.dropdown__link{
    font-size: 16px;
    padding: 8px 16px;
    color: #0a1f44;
    background: #f7fafc;
    display: block;
    white-space: nowrap;
}
