*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins","Roboto", sans-serif;
}
.App {
  text-align: center;
}

/* 
GENERAL STYLES
*/

 html, body {
    max-width: 100%;
    overflow-x: hidden;
}
img{
    width: 100%;
    height: 100%;
}

.row{
    padding: 32px 0;
    max-width: 2040px;

}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 182px;

}
.container{
    margin: 0 20px;
    max-width: 2040px;
}

/* Text styles */
h2{
    font-size: 57px;
    font-weight: 700;
    line-height: 1.5;
}
h4{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 16px;
}
p{
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 16px;
}
.section__title,
.section__sub-title{
    line-height: 1.5;
    text-align: center;
}
.section__sub-title{
    font-size: 32px;
    /* margin-bottom: 16px; */
    text-align: center;
}
.section__title{
    font-size: 57px;
    padding-top: 32px;
    margin-top: 32px;
}
.color-text{
    color: #FCEB2C;
}
button{
background-color: #32429A;
color: white;
font-size: 16px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
border: none;
}
.click {
  transition: all 300ms ease;
}
.click:hover {

  background-color: #fff;
  color: #FCEB2C;
  border: 2px solid #FCEB2C;
}
.click:active {

  transform: translateY(2px);
}
a{
    color: inherit;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}
input{
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #242424;
    color: #0a1f44;
    height: 60px;
    line-height: 40px;
    outline: none;
    padding: 0 25px;
    font-size: 24px;
    width: 100%;
    max-width: 600px;
}
.link__hover {
  position: relative;
}
.link__hover--white::after {
  background-color: #fff;
}
.link__hover--red::after{
    background-color: darkred;
}
.link__hover::after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  color: #FCEB2C;
  transition: all 300ms ease-in-out;
}
.link__hover:hover::after {
  left: 0;
  width: 100%;
}

/* 
HOME STYLES
*/
.banner__img {
  max-height: 350px;
}
.featured__wrapper {
  display: flex;
  gap: 32px;
  justify-content: center;
}
.button--wrapper {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}
.button__newsletter {
  margin-right: 24px;
}
.landing__image {
  max-width: 200px;
  margin: 0 auto;
}
.grey-text {
  color: grey;
} 

/*
POST STYLES
*/

#post__header-image {
  max-height: 400px;
  object-fit:scale-down;
}

/*
ABOUT STYLES
*/  

.about__divider{
  color: #3d4886;
}
/*
EVENT STYLES
*/  
.events__row{
  background-color: #f5f5f5;
}
.events__wrapper{
  display: flex;
  align-items: flex-start;
  width: 100%;
  }
.event-dates__wrapper{
  width: 100%;
  padding: 0 12px;
}
.event-dates__image{
  padding-top: 20px;
  margin: 0 12px;
  width: 100%;
}
